<ion-header>
  <ion-toolbar color="medium">
    <ion-button size="small" color="dark" routerLink to="/tab3page">
      Voltar
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="header-banner">
    <div class="logo">
      <img src="assets/futurama.png" class="img">
    </div>
    <div class="info">
      <ion-button color="medium" size="small">ASSISTIR</ion-button>
      <ion-button fill="outline" color="light" size="small">EPISÓDIOS</ion-button>
    </div>
  </div>

  <ion-card>
    <ion-item color="medium">
      <h1>Futurama<span>(1999)</span></h1>
      <div slot="end" class="c100 p73 small green">
        <span>82%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div class="info ion-text-center">
        <span class="tipo">TV-14</span><span class="duracao">22m</span>
        <p>Animação, Comédia</p>
      </div>
    </ion-item>

    <ion-item color="medium">
      <h1>Trailer</h1>
    </ion-item>

    <ion-item color="dark">
      <video width="320" height="240" controls>
        <source src="assets/futuramatrailer.mp4" type="video/mp4">
      </video>
    </ion-item>

    <ion-item color="medium">
      <h1>Sinopse</h1>
    </ion-item>

    <ion-item color="dark">
      <p class="sinopse">Fry era um entregador de pizza de 25 anos, cuja vida não tinha o menor significado. Depois de
        congelar-se acidentalmente na véspera do Ano Novo de 1999, ele acorda mil anos mais tarde, tendo a chance de
        começar tudo de novo em um futuro repleto de alienígenas misteriosos e de robôs ameaçadores. Ele trabalha agora
        para a Planet Express, um serviço de entregas intergaláctico que transporta pacotes para todos os cinco
        quadrantes do universo. Entre seus companheiros está a capitã da nave Planet Express, Leela, uma alienígena
        linda, de um só olho, que enfrenta muita gente durona (apesar de seus problemas de percepção em 3 dimensões); e
        Bender, um robô com muitos defeitos humanos: bebe, fuma e pratica pequenos roubos. Ele também tem uma fraqueza
        por pornografia robótica (que consiste principalmente em diagramas de circuitos). A bordo também se encontra o
        Professor Farnsworth, que é um cientista excêntrico cujas idéias o caracterizam como sendo algo entre um gênio e
        um doido varrido; Hermes Conrad, que é um burocrata autorizado, cuja frieza para com a tripulação é suavizada
        pela preocupação com suas vidas - mas somente porque ele não quer apresentar um monte de formulários de "morte
        na entrega", caso eles não voltem de uma missão - e Amy Wong, uma tripulante cujos deveres incluem ser bonitinha
        e paquerar o Tenente Kif Kroker.</p>
    </ion-item>

  </ion-card>
</ion-content>