.header-banner {
    position: relative;
    top: 0;
    background: linear-gradient(to right, black, transparent),
        url("https://image.tmdb.org/t/p/w500_and_h282_face/qAjXBuPlIS0m1xWfPJqHzhetskF.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 100%;
    padding: 15px;
    background-blend-mode: darken;
}
.logo {
        height: 100px;
        padding-left: 10px;
}
ion-card {
    h1 {
        font-size: 20px;
        font-weight: bolder;
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em;
    }

}
.info{
    width:100%;
    margin: 10px;
    padding: 0;

    .tipo{
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 5px;
        font-size: 12px;
        font-weight: lighten;
    }

    .duracao{
        margin-left: 11px;
    }
    p{
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }
}
